version: '2'

services:
  selenium:
    image: selenium/standalone-chrome-debug:3.141.59-oxygen
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - '/dev/shm:/dev/shm'
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - '1025:1025'
      - '8025:8025'
  collabora: 
    image: collabora/code
    restart: unless-stopped
    network_mode: "host"
    environment:
      - domain=${OC_URL}
      - extra_params=--o:ssl.enable=false 
  onlyoffice:
    image: onlyoffice/documentserver
    network_mode: "host"
    restart: unless-stopped
    environment:
      - JWT_ENABLED=false
    volumes:
      - './docker/onlyoffice/ds.conf:/etc/nginx/conf.d/ds.conf'
  openldap:
    image: docker.io/bitnami/openldap:2-debian-10
    restart: unless-stopped
    ports:
      - '1389:1389'
      - '1636:1636'
    environment:
      - LDAP_ADMIN_USERNAME=admin
      - LDAP_ADMIN_PASSWORD=adminpassword
      - LDAP_USERS=user01,user02
      - LDAP_PASSWORDS=password1,password2
    volumes:
      - 'openldap_data:/bitnami/openldap'
  redis:
    image: redis
    ports:
      - 6379:6379
    restart: unless-stopped
  sftp:
    image: atmoz/sftp
    command: foo:pass:::upload
    ports:
      - '222:22'
    restart: unless-stopped
  ftp:
    image: stilliard/pure-ftpd
    ports:
      - '221:21'
      - '30000-30009:30000-30009'
    environment:
      - PUBLICHOST=localhost
      - FTP_USER_NAME=admin
      - FTP_USER_PASS=admin
      - FTP_USER_HOME=/home/ftpusers/admin
    restart: unless-stopped

volumes:
  openldap_data:
    driver: local
